img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.dropdown-menu.show {
    background: #343a409c;
    color: white;
    text-align: center;
    left: auto;
    right: 20px;
    margin-right: 10px;
}

.dropdown-item {
    color: black!important;
}

.nav-link.dropdown-toggle {
    color: white;
}